/Aula07/Lista07/Ex01/nbproject/private/
/Aula07/Lista07/Ex01/build/
/Aula08/Lista08/nbproject/private/
/Aula10/Lista10/nbproject/private/
/Aula10/Lista10/build/
/Aula08/Lista08/build/
/Aula10/Projeto_Vendas/nbproject/private/
/Aula10/Projeto_Vendas_Web/nbproject/private/
/Aula10/Projeto_Vendas_Web/build/
/Aula08/AulaExtra/build/
/Aula10/Projeto_Vendas/build/
/Aula10/Projeto_Vendas/dist/
/Aula08/AulaExtra/dist/
/Aula08/Projeto_Vendas_Web/nbproject/private/
/Aula08/Projeto_Vendas_Web/build/
/Aula08/Projeto_Vendas_Web/dist/