/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/09/2019, 14:57:46
    Author     : usuario.sp
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 99%;
    height: 99%;
    /*background: url('../imagens/fundo2.jpg');*/
}

.menu{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: #001c43;
}

.menu ul li a{
    font-size: 18pt;
    color:#fff;
}

.padraoLinks{
    display: block;
    background-repeat: no-repeat;
    margin: 2em auto 2em auto;
    padding: 1em 0 1em 0;
    transition: .7s;
    text-decoration: none;
    border-bottom: 2px solid #000;
}
.padraoLinks:hover{
    text-indent: 2.5em;
    border-bottom: 2px solid #000;
    background-color: #00275c;
}



.venda{
    background-image: url("../imagens/iconeVenda.png");
}
.usuario{
    background-image: url("../imagens/usuarioIcone.png");
}
.produto{
    background-image: url("../imagens/produtoIcone.png");
}
.cliente{
    background-image: url("../imagens/clienteIcone.png");
}

.content_request {
    position: absolute;
    background:white;
    right:20px;
    top:20px;
    bottom:20px;
    left:calc(20% + 20px);
    text-align: center;
}

.light_box {
    width:100%;
    height: 100%;
    z-index: 4;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,0.6);
}

.action_request {
    width:50%;
    height:50%;
    position:absolute;
    background:white;
    z-index: 5;
    box-shadow: 0px 0px 20px 3px rgba(50,50,50,0.5);
    left:30%;
    top:20%;
    overflow: scroll;
}

.action_request input, select{
    display: block;
    margin: 1em; 
    width: 80%;
    
}

.box_rq {display: none;}